<body>
  <header class="container-fluid bg-dark position-sticky top-0">
    <div class="navbar-nav">
      <div class="header2">
        <h1 class="title">FUNKOPOPS</h1>
        <a type="button" class="px-3 btn btn-danger" id="logout" href="/login">Cerrar Sesión</a>
      </div>
    </div>
  </header>

      <div class="row row-cols-sm-10 row-cols-md-2 row-cols-lg-4 row-cols-x1-4" id="card">
        {{#each products}}
        <div class="col d-flex justify-content-center mb-4" id="dataProd">
          <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem">
            <h5 class="card-title pt-2 text-center text-primary">{{this.title}}</h5>
            <img src={{this.thumbnail}} class="card-img-top" />
            <div class="card-body">
              <p class="card-text text-white-50 description">
                {{this.description}}
              </p>
              <h5 class="text-primary">
                Precio: <span>$ {{this.price}}</span>
              </h5>
              <h5 class="text-primary">
                Stock: <span>{{this.stock}}</span>
              </h5>
              <h5 class="text-primary">
                Categoria: <span>{{this.category}}</span>
              </h5>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary button">
                  Añadir al Carrito
                </button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

      <form action="/products_index" method="post" id="formulario">
        <div class="post" id="addpost">
          <h2>Nuevo Producto</h2>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="title" type="text" class="form-control" id="title" required>
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen</label>
          <input name="thumbnail" type="url" class="form-control" id="imagen" required>
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Description</label>
          <input name="description" type="text" class="form-control" id="descripcion" required>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input name="price" type="number" class="form-control" id="preico" required>
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input name="stock" type="number" class="form-control" id="stock" required>
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <input name="category" type="text" class="form-control" id="categoria" required>
        </div>
        <div>
          <button id="btn" type="submit" class="btn btn-primary">Agregar al stock</button>
        </div>
      </form>
    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>  
  <script src="../public/js/index.js"></script>